* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(5, 12, 14);
    text-align: center;
}
.container {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
} 
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 0.5rem;
    border: none;
    background-color: orange;
    box-shadow: rgb(172, 211, 228);
    font-size: 9vmin;
    color: rgb(14, 3, 3);
}
#reset-btn {
    padding: 1.8rem;
    font-size: 5vmin;
    background-color: rgb(223, 166, 59);
    color: rgb(101, 28, 28);
    border-radius: 1rem;
    border: none;
}
#new-btn {
    padding: 1.8rem;
    font-size: 5vmin;
    background-color: rgb(223, 166, 59);
    color: rgb(101, 28, 28);
    border-radius: 1rem;
    border: none;
}
#msg {
    color: orange;
    font-size: 5vmin;
}
.msg-container {
    height: 30vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8rem;
}
.hide {
    display: none;
}
